<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
		<param-name>upload folder</param-name>
		<param-value>attachment</param-value>
	</context-param>
	<context-param>
		<param-name>allowed file type</param-name>
		<param-value>.gif,.jpg,.bmp</param-value>
	</context-param>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.zjsoft.servlet.FirstServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>  
  	<servlet>
		<servlet-name>InitParamServlet</servlet-name>
		<servlet-class>
			com.zjsoft.servlet.InitParamServlet
		</servlet-class>
		<init-param>
			<param-name>helloween</param-name>
			<param-value>password</param-value>
		</init-param>
		<init-param>
			<param-name>admin</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>babyface</param-name>
			<param-value>babyface</param-value>
		</init-param>
	</servlet>
	
	<env-entry>
		<env-entry-name>hello</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>
			Hello, Welcome to the JavaEE Resource Injection.
		</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>i</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>30</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>persons</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>
			Helloween, Cobain, Roses, Axl,
		</env-entry-value>
	</env-entry>
	
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>